body {
    background-color: white;
    margin: 0;
    padding: 0;
    background: #fff;
    font-family:'Open Sans', sans-serif;
  }
  
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    grid-template-areas:
      "nav nav nav"
    "header header header" 
      "ay ay iy"
      "il al al"
      "ak ak ik"
      "ij aj aj "
      ;
    grid-gap: 50px;
    grid-template-rows: 50px 100px 300px 300px 300px 300px 300px;
    
  }
  
  
  
  .header {
    grid-area: header;
     border-radius: 25px;
    border-style: solid;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
  }
  
  .ay {
    grid-area: ay;
     border-radius: 25px;
    background-repeat: repeat;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
  }
  
  .iy {
    grid-area: iy;
    background-image: url("img/yemimage.jpg");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    max-width: 100%;
    height: auto;
    min-height: 41.5rem;
  }
  
.il{
    grid-area: il;
    background-image: url("img/lauren.jpeg");
     max-width: 100%;
}


  
  .al {
    grid-area: al;
     border-radius: 25px;
    background: url(paper.gif);
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }
  
  .ak {
    grid-area: ak;
     border-radius: 25px;
    background: url(paper.gif);
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: bold
  }
  
  .ik {
    grid-area: ik;
     border-radius: 25px;
    background: url(paper.gif);
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;
    text-align: center;
    object-fit: cover;
   
  }
  
  .ij {
    grid-area: ij;
     border-radius: 25px;
    background: url(paper.gif);
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;
    text-align: center;
    
  }
  
  .aj {
    grid-area: aj;
     border-radius: 25px;
    background: url(paper.gif);
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }
  .fit-picture{
    max-width:600px;
    text-align: center;
    padding: 50px;
  }
  
  .ijpic{ 
    max-width: 300px;
    
  }
  .grid div:nth-child(even) {
    background-color: #f1c40f;
  }
  
  .grid div:nth-child(odd) {
    background-color: #f1c40f;
  }
  
  .nav-list{
    list-style-type: none; 
    padding: 1.4vw;
    display: inline-block;
    font-size: 1.3vw;
    position: relative;
 }
 
 .ul-nav{
     margin: 0;
     padding: 0;
     text-align: center;
 }
 
 body{
     margin: 0;
     padding: 0;
     background: #fff;
     font-family:'Open Sans', sans-serif;
 }
 nav ul li a{
     color: white;
     font-family:'Open Sans', sans-serif;
 }
 
 nav{
     width: 100vw;
     /* makes nav bar take up entire width- vw means viewport width */
     background-color: rgb(33, 34, 34);
     text-align: center;
   }
 
 nav ul li a:hover{
     text-decoration: none;
 }

 #submenu {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 35px;
    visibility: hidden;
    z-index: 1;
}
li:hover ul#submenu {
    opacity: 1;
    top: 40px;	/* adjust this as per top nav padding top & bottom comes */
    visibility: visible;
}
#submenu li {
    float: none;
    width: 100%;
}
#submenu a:hover {
    background: #DF4B05;
}
#submenu a {
    background-color:#000000;
}
  