 
.nav-list{
   list-style-type: none; 
   padding: 1.4vw;
   display: inline-block;
   font-size: 1.3vw;
   position: relative;
}

.ul-nav{
    margin: 0;
    padding: 0;
    text-align: center;
}

body{
    margin: 0;
    padding: 0;
    background: #fff;
    font-family:'Open Sans', sans-serif;
}
nav ul li a{
    color: white;
    font-family:'Open Sans', sans-serif;
}

nav{
    width: 100vw;
    /* makes nav bar take up entire width- vw means viewport width */
    background-color: rgb(33, 34, 34);
    text-align: center;
  }

nav ul li a:hover{
    text-decoration: none;
}

.southKorea{
    font-family: 'Trade Winds', cursive;
    position: relative;
    text-align: center;
    color:white;
}
    
     h1{
         position: absolute;
         top: 30%;
         left: 50%;
         transform: translate(-50%, -50%);
         font-size: 10vw;
     }

     .container1{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, 150%);
     }
     .btn{
         border: 0.2vw solid #8cc0e2;
         background:  #8cc0e2;
         padding: 1vw 1.5vw;
         font-size: 1.4vw;
         font-family:'Open Sans', sans-serif;
         color: white;
         font-weight: 700;
         cursor: pointer;
         margin: 1vw;
         transition: 0.8s;

     }
     .btn1, .btn2, .btn3, .btn4{
        color: #8cc0e2;
     }
     .btn1:hover, .btn2:hover, .btn3:hover, .btn4:hover{
         color:#8cc0e2;
     }
     .btn::before{
         content: "";
         position:absolute;
         left: 0;
         width: 100%;
         height: 0%;
         background: #8cc0e2;
         z-index: -1;
         transition: 0.8s;
     }
     .btn1:before, .btn2::before, .btn3::before, .btn4::before{
         top:0;
         border-radius: 0 0 50% 50%;
     }
     .btn1:hover::before, .btn2:hover::before, .btn3:hover::before, .btn4:hover::before{
         height: 180%;
     }

/* IMAGE GALLERY */
.subtitle{
    font-family:'Trade Winds', cursive;
    font-size: 5vw;
    position: relative;
    text-align: center;
    color: rgb(48, 49, 49);
    padding: 40px;
}

.container{
    width: 90%;
    margin: 0 auto;
}

.image-gallery{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1.5rem;
    grid-template-areas: 
            'img-1 img-1 img-2 img-2'
            'img-1 img-1 img-5 img-6'
            'img-3 img-3 img-5 img-6'
}

.image-gallery a{
    width: 100%;
    height: 20rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.image-gallery a::before{
    content:'';
    position: absolute;
    background-color: rgba(0,0,0, .8);
    top:10px;
    left:10px;
    right:10px;
    bottom: 10px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    box-sizing: border-box;
    transition: opacity 0.5s;
    opacity:0;
}

.image-gallery a:hover::before{
    opacity: 1;
}

.image-gallery a::after{
    content:'';
    position: absolute;
    top:10px;
    left:10px;
    right:10px;
    bottom: 10px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    box-sizing: border-box;
    transition: 0.5s;
    transform: scaleY(0);
    opacity:0;
    z-index: 1;
}

.image-gallery a:hover::after{
    opacity: 1;
}

.img-1{
    grid-area: img-1;
    min-height: 41.5rem;
   /*change background-image*/
    background-image: url("img/canal.jpeg");
}


.content1{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}
.content1 h2{
    margin:0;
    padding:10px;
    color: white;
    transition: 0.5s;
    transform: translateY(-50px);
    opacity:0;
    visibility: hidden;
    font-size: 2.2vw;
    text-align: center;
}

.content1 p{
    margin:0;
    padding:0;
    color: white;
    transition: 0.5s;
    transform: translateY(50px);
    opacity:0;
    visibility: hidden;
    font-size: 1.1vw;
}

.img-1:hover .content1 h2,
.img-1:hover .content1 p
{
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}
.img-2{
    grid-area: img-2;
   /*change background-image*/
    background-image: url("img/parliament_light_1.jpeg");
}

.img-2:hover .content1 h2,
.img-2:hover .content1 p
{
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

.img-3{
    grid-area: img-3;
   /*change background-image*/
    background-image: url("img/parliament_light_2.jpeg");
}
.img-3:hover .content1 h2,
.img-3:hover .content1 p
{
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

.img-4{
    grid-area: img-4;
   /*change background-image*/
    background-image: url("img/ski.jpeg");
}
.img-4:hover .content1 h2,
.img-4:hover .content1 p
{
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

.img-5{
    grid-area: img-5;
   /*change background-image*/
    background-image: url("img/bsbooks.jpeg");
}
.img-5:hover .content1 h2,
.img-5:hover .content1 p
{
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

.img-6{
    grid-area: img-6;
    min-height: 41.5rem;
   /*change background-image*/
    background-image: url("img/football.jpeg");
}
.img-6:hover .content1 h2,
.img-6:hover .content1 p
{
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

.img-7{
    grid-area: img-7;
   /*change background-image*/
    background-image: url("img/heyri.jpg");
}
.img-7:hover .content1 h2,
.img-7:hover .content1 p
{
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

.img-8{
    grid-area: img-8;
   /*change background-image*/
    background-image: url("img/cultural-village.jpg");
}
.img-8:hover .content1 h2,
.img-8:hover .content1 p
{
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

/* perhaps neeed to also alter text size with responsiveness */
@media screen and (max-width:900px){
    .image-gallery{
       grid-template-areas:
            'img-1 img-1 img-2 img-2'
            'img-1 img-1 img-3 img-3'
            'img-4 img-4 img-5 img-5'
            'img-6 img-7 img-7 img-7'
            'img-6 img-8 img-8 img-8';
    }
    .image-gallery a{
        height: 15rem;
    }
    .img-1{
        min-height: 31.5rem;
    }
    .img-6{
        min-height: 31.5rem;
    }
}

@media screen and (max-width:600px){
    .image-gallery{
       grid-template-areas:
            'img-1 img-1 img-1 img-1'
            'img-2 img-2 img-2 img-2'
            'img-3 img-3 img-3 img-3'
            'img-4 img-4 img-4 img-4'
            'img-5 img-5 img-5 img-5'
            'img-6 img-6 img-6 img-6'
            'img-7 img-7 img-7 img-7'
            'img-8 img-8 img-8 img-8';
    }
    .image-gallery a,
    .img-1,
    .img-6{
       min-height: 25rem;
       height:25rem; 
    }
 .content1 h2{
        font-size: 5vw;
    }
    
    .content1 p{
        font-size: 3vw;
    }
}

/* TRANSPORT SECTION */
#transport{
    text-align: center;
}
.row-featurette{
  border-radius: 25px;
  background: #8cc0e2;
  margin: 40px auto;
  width: 95%;
  max-height: 500px;
  }


#transport{
    text-align:center;
    padding-top:10px;
    padding-bottom: 20px;
}

#transport-img{
    border-radius:25px;
    max-height:400px;
    padding:10px;
    margin:0;
}

#content-transport{
    position: relative;
    padding: 1.5vw;
    text-align: center;
    color: white;
}   
.lead{
    padding-left:2vw;
    font-size:1.4vw;
    font-family:'Open Sans', sans-serif;
}

/* FOOD */
#food{
    position: relative;
    text-align: center;
}

section{
    padding-top: 0px;
    padding-bottom: 50px;
    padding-left:100px;
}

.image-gallery2{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
    grid-gap: 3rem;
    grid-template-areas:
        'img1 img2 img3'
}

.image-gallery2 a{
   width: 100%;
   height: 20rem;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   border: solid 10px  #8cc0e2;;
   border-radius: 10px;
}

.food-content{
    position:absolute;
    width:100%;
    top:50%;
    transform:translateY(-50%);
    z-index:2;
    padding: 3px;
    box-sizing: border-box;
    text-align:center;
    background-color: rgba(0,0,0, .8);
    visibility: hidden;
}

.food-content h3{
    margin:0;
    padding: 4px;
    color: white;
    transition: 0.5s;
    transform: translateY(-50px);
    opacity:0;
    visibility: hidden;
}

.food-content p{
    margin:0;
    padding: 4px;
    color: white;
    transition: 0.5s;
    transform: translateY(50px);
    opacity:0;
    visibility: hidden;
    font-size: 14px;
}


.img1{
    grid-area: img1;
   /*change background-image*/
    background-image: url("img/beavertail.jpeg");
    min-width: 20rem;
}
.img1:hover .food-content,
.img1:hover .food-content h3,
.img1:hover .food-content p{
    opacity:1;
    visibility: visible;
    transform: translateY(0px);
}

.img2{
    grid-area: img2;
    min-width: 20rem;
   /*change background-image*/
    background-image: url("img/poutine.jpeg");
}
.img2:hover .food-content,
.img2:hover .food-content h3,
.img2:hover .food-content p{
    opacity:1;
    visibility: visible;
    transform: translateY(0px);
}

.img3{
    grid-area: img3;
    min-width: 20rem;
   /*change background-image*/
    background-image: url("img/origin.jpeg");
}
.img3:hover .food-content,
.img3:hover .food-content h3,
.img3:hover .food-content p{
    opacity:1;
    visibility: visible;
    transform: translateY(0px);
}

/* RESPONSIVE GRID*/
@media screen and (max-width:1000px){
    .image-gallery2{
        padding-left: 20px;
    }
    .image-gallery2 a{
        height: 15rem;
        min-width: 15rem;
    }
    .food-content h3{
        font-size: 12px;
    }
    .food-content p{
        font-size: 10px;
    }
}

@media screen and (max-width:800px){
    .image-gallery2{
        padding-left: 5px;
    }
    .image-gallery2 a{
        height: 15rem;
        min-width: 15rem;
    }
    .image-gallery2{
        grid-template-areas:
            'img1 img1 img1'
            'img2 img2 img2'
            'img3 img3 img3'
    }
    .food-content h3{
        font-size: 12px;
    }
    .food-content p{
        font-size: 10px;
    }
}

/* BLOG SECTION*/
#sub-blog{
    text-align: center;
    padding-top: 2vw;
    padding-bottom: 2vw;
    font-size: 3vw;
}
#blog{
    padding-bottom: 2vw;
}
.blog-content{
    padding:1vw;
    font-size: 1.4vw;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.45;
    text-align: center; 
}
#blog-img{
    border-radius:25px;
    max-height:500px;
    padding:10px;
    margin:0;
}
#button{
    background-color: white;
    color: #8cc0e2;
    padding: 1vw;
    margin:2vw;
}
#blog-content2{
    padding: 1vw;
    list-style-type: none;
    font-size: 1.4vw;
}

#sub-blog2{
    text-align: center;
    padding-top: 2vw;
    font-size: 3vw;
    padding-bottom: 0;
}

/*RESPONSIVE TRANSPORT AND BLOG*/

@media screen and (max-width:767px){
    .row-featurette{
        border-radius: 25px;
        background: #8cc0e2;
        margin: 5vw auto;
        width: 80%;
        max-height: 45vw;
        }
    .img-fluid{
        max-width: 0;
    }
    }
